allow cameraserver system_server:unix_stream_socket { read write };

# sensor manager based camera/video stabilization
allow cameraserver sensorservice_service:service_manager find;
