allow cameraserver system_server:unix_stream_socket { read write };

# sensor manager based camera/video stabilization
allow cameraserver sensorservice_service:service_manager find;
allow cameraserver power_service:service_manager find;

# gpu access
allow cameraserver device:dir r_dir_perms;
allow cameraserver gpu_device:chr_file rw_file_perms;
allow cameraserver host1x_device:chr_file rw_file_perms;

# /sys and /proc access
#allow cameraserver { proc proc_meminfo }:{ file lnk_file } r_file_perms;#trebl
#r_dir_file(cameraserver, sysfs) #trebl

#allow cameraserver camera_device:dir r_dir_perms;
#allow cameraserver camera_device:file r_file_perms;

allow cameraserver camera_device:chr_file rw_file_perms;

allow cameraserver sysfs_camera:dir r_dir_perms;
allow cameraserver sysfs_camera:file r_file_perms;

allow cameraserver sysfs_camera_data_file:dir r_dir_perms;
allow cameraserver sysfs_camera_data_file:file r_file_perms;

allow cameraserver sysfs_usb_device:dir r_dir_perms;
allow cameraserver sysfs_usb_device:{ file lnk_file } r_file_perms;


allow cameraserver system_file:dir r_dir_perms;
#allow cameraserver vendor_file_type:dir r_dir_perms;
allow cameraserver tmpfs:dir search;

#allow cameraserver hal_configstore_ISurfaceFlingerConfigs:hwservice_manager find; # a8.1
allow cameraserver hal_configstore_default:binder call;

binder_call(cameraserver, mediacodec)

allow cameraserver sysfs_soc:dir r_dir_perms;
allow cameraserver sysfs_soc:file r_file_perms;

dontaudit cameraserver kernel:system module_request;

typeattribute cameraserver system_writes_vendor_properties_violators;
set_prop(cameraserver, camera_prop)
