allow cameraserver device:dir r_dir_perms;

# sensor manager based camera/video stabilization
allow cameraserver system_server:unix_stream_socket { connectto read write setopt };
allow cameraserver sensorservice_service:service_manager find;
