allow hal_memtrack_default debugfs_kgsl:file r_file_perms;
allow hal_memtrack_default debugfs_ion:file r_file_perms;

allow hal_memtrack_default surfaceflinger:file r_file_perms;

dontaudit hal_memtrack_default { domain -surfaceflinger}:file read;
