
# talk to system_server to set priority
allow hal_bluetooth fwk_scheduler_hwservice:hwservice_manager find;
allow hal_bluetooth system_server:binder call;

#dontaudit hal_bluetooth diag_device:chr_file rw_file_perms;
