allow healthd sysfs_batteryinfo:file { read write open ioctl getattr };
allow healthd sysfs_batteryinfo:dir r_dir_perms;

allow healthd sysfs:file { read write open ioctl getattr };
allow healthd sysfs:dir r_dir_perms;

allow healthd device:dir { open read search };

typeattribute healthd system_writes_vendor_properties_violators;
#set_prop(healthd, public_vendor_system_prop)
