allow init tmpfs:lnk_file create_file_perms;

allow init { cache_file storage_file configfs }:dir mounton;

# /config
allow init configfs:dir create_dir_perms;
allow init configfs:file w_file_perms;
allow init configfs:lnk_file create;
