# kdevtmpfs accesses devices before ueventd restorecon
allow kernel device: { chr_file } { create setattr };
allow kernel device:dir { create write add_name };
allow kernel self:capability mknod;

# Read FDs from /vendor/firmware
allow kernel vendor_file:file r_file_perms;

