# kdevtmpfs accesses dm-0 before ueventd has labeled it
allow kernel device:blk_file { create setattr };
allow kernel device:dir { write add_name };
allow kernel self:capability mknod;
