allow mediaserver device:dir r_dir_perms;

# sensor manager based camera/video stabilization
allow mediaserver system_server:unix_stream_socket { connectto read write setopt };
allow mediaserver sensorservice_service:service_manager find;

allow mediaserver host1x_device:chr_file rw_file_perms;

# Mediaserver searches through sysfs, so we need to allow it to search all dirs we retag
r_dir_file(mediaserver, sysfs_thermal);
allow mediaserver sysfs_soc:dir search;
allow mediaserver sysfs_soc:file r_file_perms;

# Perform binder IPC to system_server
binder_call(mediaserver, system_server)
binder_use(mediaserver)

# Allow mediaserver to access system app services using service manager
allow mediaserver system_app_service:service_manager find;

allow mediaserver camera_device:chr_file rw_file_perms;

# Allow mediaserver to search /storage
allow mediaserver storage_file:dir search;

# Allow tee_device access for Vudu DRM
#allow mediaserver tee_device:chr_file { read write open ioctl };#trebl

