allow priv_app sysfs:file { getattr };# treble

#allow priv_app device:dir { open read };# treble
#allow priv_app device:file { open read };# treble

allowxperm priv_app self:udp_socket ioctl { SIOCGIWESSID };
