# access to dev/sw_sync
allow surfaceflinger sw_sync_device:chr_file rw_file_perms;
allow surfaceflinger host1x_device:chr_file rw_file_perms;

allow surfaceflinger debugfs_ion:dir search;

allow surfaceflinger sysfs_soc:dir search;
allow surfaceflinger sysfs_soc:file r_file_perms;

#dontaudit surfaceflinger vendor_file:file read;
#dontaudit surfaceflinger kernel:system module_request;
typeattribute surfaceflinger system_writes_vendor_properties_violators;

#allow surfaceflinger vendor_file_type:file r_file_perms;# treble
