allow system_app proc_pagetypeinfo:file { open read getattr };
allow system_app sysfs_zram:dir { read search };
allow system_app sysfs_zram:file { open read };
