allow system_app proc_pagetypeinfo:file { open read getattr };
allow system_app sysfs_zram:dir { read search getattr };
allow system_app sysfs_zram:file { open read getattr };

# sys/devices/soc*/...
allow system_app sysfs_soc:file r_file_perms;
allow system_app sysfs_soc:dir r_dir_perms;

typeattribute system_app system_writes_vendor_properties_violators;
set_prop(system_app, camera_prop)
set_prop(system_app, public_vendor_system_prop)
