# permissions for /system/bin/tune-thermal-gov.sh
type thermal_gov, domain;
type thermal_gov_exec, exec_type, file_type;

init_daemon_domain(thermal_gov)

allow thermal_gov shell_exec:file rx_file_perms;
