# init runs /system/bin/rmi4update
type touch_fw_update, domain;
type touch_fw_update_exec, exec_type, file_type;

init_daemon_domain(touch_fw_update)

# access to /dev/hidraw0
allow touch_fw_update hidraw_device:chr_file rw_file_perms;

# TODO give the files being access a more specific label.
allow touch_fw_update sysfs:dir search;
allow touch_fw_update sysfs:file rw_file_perms;
