#allow untrusted_app_25 mnt_media_rw_file:dir getattr;
#allow untrusted_app_25 rootfs:dir read;
allow untrusted_app_25 sysfs_thermal:dir { read open search };
allow untrusted_app_25 sysfs_thermal:file r_file_perms;
allow untrusted_app_25 sysfs_thermal:lnk_file { read };
