# Copyright (c) 2012-2018, NVIDIA CORPORATION.  All Rights Reserved.
#
# NVIDIA Corporation and its licensors retain all intellectual property and
# proprietary rights in and to this software and related documentation.  Any
# use, reproduction, disclosure or distribution of this software and related
# documentation without an express license agreement from NVIDIA Corporation
# is strictly prohibited.
#

# unified scaling daemon
service nvphsd /vendor/bin/nvphsd
    class hal
    user system
    group system readproc
    capabilities SYS_NICE
    disabled

# Start nvphsd after boot is complete to allow
# any filesystems that nvphsd depends on time
# to initialize.
on property:dev.bootcomplete="1"
    start nvphsd
